div.row {
	margin-left: 295px;
}
body {
	text-align:center;

}

h1 {
	margin-bottom:50px;
	margin-left: 60px;
	margin-top: 50px;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
}

input {
	margin-bottom:20px;
}

input#username {
	width: 500px;
}

textarea#comment {
	width: 500px;
}

li {
	list-style-type: none;
	text-align:left;
	font-size:20px;
}

button {
	margin-left: 110px;
}

ul.list-group {
	width: 500px;
	font-family: 'Montserrat', sans-serif;
}